# Virtual Environments
workspace/
venv/
env/
.env

# Datasets and Weights (CRITICAL TO IGNORE)
dataset/
*.pth
*.safetensors
*.h5
*.pt
model.pth

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask Uploads & Databases
static/uploads/
instance/
*.sqlite3
*.db
users.db

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
